@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: rgb(46, 46, 46);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
}

h3 {
  max-width: 600px;
}

h4 {
  margin: 0;
  position: relative;
  top: -15px;
}

.logo {
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
  color: rgb(252, 247, 0);
  text-shadow: 1px 1px 1px black, -1px -1px 1px  black, -1px 1px 1px  black, 1px -1px 1px  black;
}

p {
  font-size: 1.1rem;
}

.owner-contact {
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  margin: 25px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 12vw;
  }
}